@use "../sass/helper/colors" as *;
@use "../sass/layout/header";
@use "../sass/layout/home";
@use "../sass/layout/service";
@use "../sass/layout/resources";
@use "../sass/layout/live";
@use "../sass/layout/text";
@use "../sass/layout/company";
@use "../sass/layout/footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $smokey-black;
}

// Start compants
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding: 0 15px;
}
// End compants
