$ultramarine-blue: hsl(222, 100%, 55%);
$silver-metallic: hsl(240, 4%, 71%);
$fiery-rose_12: hsla(354, 86%, 65%, 0.12);
$eerie-black-1: hsl(0, 0%, 13%);
$eerie-black-2: hsl(0, 0%, 12%);
$smokey-black: hsl(40, 100%, 2%);
$silver-sand: hsl(240, 4%, 76%);
$ocean-green: hsl(161, 50%, 57%);
$fiery-rose: hsl(354, 86%, 65%);
$alice-blue: hsl(214, 32%, 91%);
$davys-gray: hsl(0, 0%, 34%);
$blue-ryb: hsl(222, 100%, 45%);
$white_50: hsla(0, 0%, 100%, 0.5);
$white: hsl(0, 0%, 100%);
$onyx-1: hsl(0, 0%, 23%);
$onyx-2: hsl(0, 0%, 20%);